@import "tailwindcss";

/* Define CSS variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Optional: Define custom theme colors/fonts for use with Tailwind */
:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans, sans-serif);
  --font-mono: var(--font-geist-mono, monospace);
}
.writing-mode-vertical {
  writing-mode: vertical-rl;
  transform: rotate(360deg); /* So text reads from bottom to top */
  /* letter-spacing: 2px; */
}
/* Dark mode variables */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

/* Global body styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Days One', sans-serif;
}

.font-daysOne {
  font-family: 'Days One', sans-serif;
}
/* styles/global.css */
.product-content .ProseMirror p {
  margin-bottom: 1rem;
  line-height: 1.6;
}
.product-content .ProseMirror ul,
.product-content .ProseMirror ol {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  list-style-type: disc;
}
.product-content .ProseMirror li {
  margin-bottom: 0.5rem;
}